.header__lang-link {
  text-decoration: none;
  color: #fff;
  background-color: inherit;
  border: none;
  font-size: 24px;
  line-height: 1.17;
  cursor: pointer;
  padding: 0;
}

.header__lang-link:hover {
  opacity: .8;
}

.header__lang-link:active{
  opacity: .5;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
  }
}