.header__lang-link-item {
  color: #fff;
  padding-top: 18px;
}

@media screen and (min-width: 1280px) {
  .header__lang-link-item {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header__lang-link-item {
    padding-top: 14px;
  }
}