.place__title {
  max-width: 460px;
  margin: 0;
  font-weight: 900;
  font-size: calc(42px + 30 * ((100vw - 768px)/(1024 - 768)));
  line-height: 1.06;
  grid-area: title;
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
  }
}

@media screen and (max-width: 1279px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 950px) {
  .place__title {
    max-width: 340px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
  }  
}

@media screen and (max-width: 450px) {
  .place__title {
    padding-left: 16px;
  }
}