@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter"),
  url("../../fonts/Inter-Regular.woff2") format("woff2"),
  url("../../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700
  src: local("Inter"),
  url("../../fonts/Inter-Bold.woff2") format("woff2"),
  url("../../fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: local("Inter"),
  url("../../fonts/Inter-Black.woff2") format("woff2"),
  url("../../fonts/Inter-Black.woff") format("woff");
}

.page {
  max-width: 1280px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  margin: 0 auto;
  background-color: #2A2C2F;
  color: #fff;
}