.photo-grid {
  display: grid;
  margin: 0 auto;
  padding: 0 3%;
  max-width: 1184px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(284px, 1fr));
  grid-gap: 16px;
}

@media screen and (max-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, minmax(352px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: minmax(288px, 90vw);
  }
}