.place__image {
  max-width: 460px;
  grid-area: image;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 350px) {
  .place__image {
    max-width: 100vw;
  }
}