.header__lang {
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 18px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}