.place__paragraph {
  max-width: 100%;
  margin: 0 0 26px;
  font-weight: 400;
  font-size: calc(16px + 2 * ((100vw - 768px)/(1024 - 768)));
  line-height: 1.63;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
  }
}