.intro {
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 0;
}

@media screen and (max-width: 1279px) {
  .intro {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 64px 16px;
  }
}