.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  background-color: #000;
  background-image: url('../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

@media screen and (max-width: 1184px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 400px) {
  .cover {
    width: 100%;
    min-height: 200px;
  }
}