.photo-grid__items {
  margin: 0;
  padding: 0 48px;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: minmax(auto, 284px) 16px minmax(auto, 284px) 16px minmax(auto, 284px) 16px minmax(auto, 284px);
  grid-template-columns: repeat(4, minmax(auto, 284px));
  -ms-grid-rows: minmax(auto, 213px) 16px minmax(auto, 213px) 16px minmax(auto, 213px);
  grid-template-rows: repeat(3, minmax(auto, 213px));
  grid-gap: 16px;
}.photo-grid__items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.photo-grid__items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.photo-grid__items > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}.photo-grid__items > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}.photo-grid__items > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.photo-grid__items > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}.photo-grid__items > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}.photo-grid__items > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}.photo-grid__items > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}.photo-grid__items > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}.photo-grid__items > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}.photo-grid__items > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

@media screen and (max-width: 1279px) {
  .photo-grid__items {
    -ms-grid-columns: minmax(300px, 33.33%) 16px minmax(300px, 33.33%) 16px minmax(300px, 33.33%);
    grid-template-columns: repeat(3, minmax(300px, 33.33%));
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .photo-grid__items > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .photo-grid__items > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .photo-grid__items > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__items {
    -ms-grid-columns: minmax(352px, 50%) 16px minmax(352px, 50%);
    grid-template-columns: repeat(2, minmax(352px, 50%));
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__items {
    -ms-grid-columns: minmax(288px, 100%);
    grid-template-columns: minmax(288px, 100%);
    padding-left: 16px;
    padding-right: 16px;
    grid-gap: 12px;
  }
}