.footer {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1250px) {
  .footer {
    padding-top: 88px;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}