.footer {
  max-width: 1184px;
  margin: 92px auto 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1250px) {
  .footer {
    margin-top: 88px;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    margin-top: 64px;
    margin-left: 16px;
  }
}