.place__description {
  grid-area: description;
  max-width: 484px;
}

@media screen and (min-width: 1024px) {
  .place__description {
    font-size: 72px;
  }
}

@media screen and (max-width: 1024px) {
  .place__description {
    max-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__description {
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .place__description {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;
  }
}