.place__description {
  grid-area: description;
  max-width: 484px;
}

@media screen and (max-width: 1279px) {
  .place__description {
    max-width: 456px;
  }
}

@media screen and (max-width: 1023x) {
  .place__description {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__description {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;
  }
}