.place__website {
  max-width: 456px;
  align-self: end;
  grid-area: website;
}

@media screen and (min-width: 1024px) {
  .place__website {
    font-size: 72px;
  }
}

@media screen and (max-width: 768px) {
  .place__website {
  
  }
}